.todo-list{
    width: 100%;
    border-radius: inherit;
}

.empty-todo-list-message{
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
}

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}


.todo-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-check{
    accent-color: darkcyan;
    width: 20px;
    height: 20px;
}

.todo-check:checked ~ span{
    text-decoration: line-through;
    color: gray;
}

.todo-item .action-btns button{
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 0.4rem;
    border-radius: 4px;
    transition: 0.4s;
    font-weight: 600;
}

.todo-item .action-btns button:hover{
    color: darkcyan;
}